<div class="col-sm-9 col-md-12 col-sm-push-0 col-md-push-0">

    <ol class="breadcrumb">
        <li><a href="#/companies">{{:: 'companies' | translate}}</a></li>
        <li class="active">{{company.ticker}}</li>
    </ol>

    <fieldset>
        <div class="form-group clearfix">
            <label class="col-md-1 control-label">{{:: 'company-name' | translate}}</label>
            <div class="col-md-6">
                {{company.name}}
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-1 control-label">{{:: 'company-ticker' | translate}} </label>
            <div class="col-md-6">
                {{company.ticker}}
            </div>
        </div>
    </fieldset>

    <fieldset class="border-top">
        <legend>
            <span class="text">{{:: 'company-purchases' | translate}}</span>
        </legend>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>{{:: 'date' | translate}}</th>
                <th>{{:: 'stocks-count' | translate}}</th>
                <th>{{:: 'price-per-stock' | translate}}</th>
                <th>{{:: 'price-total' | translate}}</th>
                <th>{{:: 'price-total-czk' | translate}}</th>
                <th>{{:: 'currency-quotation-during-transaction' | translate}}</th>
                <th>{{:: 'fee' | translate}}</th>
                <th>{{:: 'fee-czk' | translate}}</th>
            </tr>
            </thead>
            <tr ng-repeat="purchase in company.purchasesFull">
                <td></td>
                <td>{{purchase.date}}</td>
                <td>{{purchase.stocksCount}}</td>
                <td>{{MyMath.round(purchase.pricePerStock)}} {{company.currency}}</td>
                <td>{{MyMath.round(purchase.priceTotal)}} {{company.currency}}</td>
                <td>{{MyMath.round(purchase.priceTotalCZK)}} CZK</td>
                <td>{{MyMath.round(purchase.currencyQuotationDuringTransaction)}}</td>
                <td>{{MyMath.round(purchase.fee)}} {{company.currency}}</td>
                <td>{{MyMath.round(purchase.feeCZK)}} CZK</td>
            </tr>
            <tr>
                <td><b>{{:: 'total' | translate}}</b></td>
                <td></td>
                <td>{{company.totalStocksBought}}</td>
                <td></td>
                <td>{{MyMath.round(company.totalPricePayed)}} {{company.currency}}</td>
                <td>{{MyMath.round(company.totalPricePayedCZK)}} CZK</td>
                <td></td>
                <td>{{MyMath.round(company.totalFeesOfPurchases)}} {{company.currency}}</td>
                <td>{{MyMath.round(company.totalFeesOfPurchasesCZK)}} CZK</td>
            </tr>
        </table>
    </fieldset>

    <fieldset class="border-top">
        <legend>
            <span class="text">{{:: 'company-disposals' | translate}}</span>
        </legend>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>{{:: 'date' | translate}}</th>
                <th>{{:: 'stocks-count' | translate}}</th>
                <th>{{:: 'price-per-stock' | translate}}</th>
                <th>{{:: 'price-total' | translate}}</th>
                <th>{{:: 'price-total-czk' | translate}}</th>
                <th>{{:: 'currency-quotation-during-transaction' | translate}}</th>
                <th>{{:: 'fee' | translate}}</th>
                <th>{{:: 'fee-czk' | translate}}</th>
            </tr>
            </thead>
            <tr ng-repeat="disposal in company.disposalsFull">
                <td></td>
                <td>{{disposal.date}}</td>
                <td>{{disposal.stocksCount}}</td>
                <td>{{MyMath.round(disposal.pricePerStock)}} {{company.currency}}</td>
                <td>{{MyMath.round(disposal.priceTotal)}} {{company.currency}}</td>
                <td>{{MyMath.round(disposal.priceTotalCZK)}} CZK</td>
                <td>{{MyMath.round(disposal.currencyPriceToCZKAtTheDisposalTime)}}</td>
                <td>{{MyMath.round(disposal.fee)}} {{company.currency}}</td>
                <td>{{MyMath.round(disposal.feeCZK)}} CZK</td>
            </tr>
            <tr>
                <td><b>{{:: 'total' | translate}}</b></td>
                <td></td>
                <td>{{company.totalStocksSold}}</td>
                <td></td>
                <td>{{MyMath.round(company.totalPriceSold)}} {{company.currency}}</td>
                <td>{{MyMath.round(company.totalPriceSoldCZK)}} CZK</td>
                <td></td>
                <td>{{MyMath.round(company.totalFeesOfDisposals)}} {{company.currency}}</td>
                <td>{{MyMath.round(company.totalFeesOfDisposalsCZK)}} CZK</td>
            </tr>
        </table>
    </fieldset>

    <fieldset class="border-top">
        <legend>
            <span class="text">{{:: 'dividends' | translate}}</span>
        </legend>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>{{:: 'year' | translate}}</th>
                <th>{{:: 'dividend-date' | translate}}</th>
                <th>{{:: 'dividends-orig-currency' | translate}}</th>
                <th>{{:: 'dividends-czk' | translate}}</th>
                <th>{{:: 'average-quotation' | translate}}</th>
            </tr>
            </thead>
            <tr ng-repeat="dividend in dividends" data-ng-show="dividend.visible">
                <td></td>
                <td data-ng-show="dividend.yearSum"><b>{{dividend.year}} - {{:: 'total' | translate}}</b>
                    <button type="button" class="btn btn-default btn-xs" ng-click="changeCollapseStatusOfYear(dividend.year)">
                        <span class="glyphicon glyphicon-plus" data-ng-show="dividend.collapsed"></span>
                        <span class="glyphicon glyphicon-minus" data-ng-show="!dividend.collapsed"></span>
                    </button>
                </td>
                <td data-ng-hide="dividend.yearSum"></td>
                <td data-ng-show="dividend.yearSum"></td>
                <td data-ng-hide="dividend.yearSum">{{dividend.date}}</td>
                <td>{{MyMath.round(dividend.totalAmount)}} {{company.currency}}</td>
                <td>{{MyMath.round(dividend.totalAmountInCZK)}} CZK</td>
                <td>{{MyMath.round(dividend.averageQuotationToCZK)}}</td>
            </tr>
            <tr>
                <td><b>{{:: 'total' | translate}}</b></td>
                <td></td>
                <td></td>
                <td>{{MyMath.round(company.totalDividends)}} {{company.currency}}</td>
                <td>{{MyMath.round(company.totalDividendsCZK)}} CZK</td>
                <td></td>
            </tr>
        </table>
    </fieldset>

</div>