<div class="col-sm-9 col-md-12 col-sm-push-0 col-md-push-0">

    <ol class="breadcrumb">
        <li><a href="#/companies">{{:: 'companies' | translate}}</a></li>
        <li class="active">{{company.ticker}}</li>
    </ol>

    <fieldset>
        <div class="form-group clearfix">
            <label class="col-md-1 control-label">{{:: 'company-name' | translate}}</label>
            <div class="col-md-6">
                {{company.name}}
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-1 control-label">{{:: 'company-ticker' | translate}} </label>
            <div class="col-md-6">
                {{company.ticker}}
            </div>
        </div>
    </fieldset>

    <fieldset class="border-top">
        <legend>
            <span class="text">{{:: 'company-purchases' | translate}}</span>
        </legend>
        <table class="datatable table table-bordered dataTable no-footer credentials-table">
            <thead>
            <tr>
                <th></th>
                <th>{{:: 'date' | translate}}</th>
                <th>{{:: 'stocks-count' | translate}}</th>
                <th>{{:: 'price-per-stock' | translate}}</th>
                <th>{{:: 'price-total' | translate}}</th>
                <th>{{:: 'price-total-czk' | translate}}</th>
                <th>{{:: 'currency-quotation-during-transaction' | translate}}</th>
                <th>{{:: 'fee' | translate}}</th>
                <th>{{:: 'fee-czk' | translate}}</th>
            </tr>
            </thead>
            <tr ng-repeat="purchase in company.purchasesFull">
                <td></td>
                <td>{{purchase.date}}</td>
                <td>{{purchase.stocksCount}}</td>
                <td>{{MyMath.round(purchase.pricePerStock)}} {{company.currency}}</td>
                <td>{{MyMath.round(purchase.priceTotal)}} {{company.currency}}</td>
                <td>{{MyMath.round(purchase.priceTotalCZK)}} CZK</td>
                <td>{{MyMath.round(purchase.currencyQuotationDuringTransaction)}}</td>
                <td>{{MyMath.round(purchase.fee)}} {{company.currency}}</td>
                <td>{{MyMath.round(purchase.feeCZK)}} CZK</td>
            </tr>
            <tr>
                <td>{{:: 'total' | translate}}</td>
                <td></td>
                <td>{{company.totalStocksBought}}</td>
                <td></td>
                <td>{{MyMath.round(company.totalPricePayed)}} {{company.currency}}</td>
                <td>{{MyMath.round(company.totalPricePayedCZK)}} CZK</td>
                <td></td>
                <td>{{MyMath.round(company.totalFeesOfPurchases)}} {{company.currency}}</td>
                <td>{{MyMath.round(company.totalFeesOfPurchasesCZK)}} CZK</td>
            </tr>
        </table>
    </fieldset>

</div>