<div class="col-sm-9 col-md-6 col-sm-push-0 col-md-push-0">

    <ol class="breadcrumb">
        <li><a href="#/currencies">{{:: 'currencies' | translate}}</a></li>
    </ol>

    <kc-tabs-companies></kc-tabs-companies>

    <h2></h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{{:: 'currency' | translate}}</th>
                <th>{{:: 'in-hold' | translate}}</th>
                <th>{{:: 'quotation' | translate}}</th>
                <th>{{:: 'price-in-hold-czk' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="currency in currencies.currencies">
                <td>{{currency.ticker}}</td>
                <td>{{MyMath.round(currency.totalHold)}}</td>
                <td>{{MyMath.round(currency.quotation)}}</td>
                <td>{{MyMath.round(currency.priceInHoldCZK)}}</td>
            </tr>
            <tr>
                <td><b>{{:: 'total' | translate}}</b></td>
                <td></td>
                <td></td>
                <td>{{MyMath.round(currencies.priceInHoldCZK)}}</td>
            </tr>
        </tbody>
    </table>


</div>