<div class="col-sm-9 col-md-12 col-sm-push-0 col-md-push-0">

    <ol class="breadcrumb">
        <li><a href="#/currencies">{{:: 'currencies' | translate}}</a></li>
    </ol>

    <kc-tabs-companies></kc-tabs-companies>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{{:: 'currency-namee' | translate}}</th>
            <th>{{:: 'currency-ticker' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="currency in currencies">
            <td>{{currency.name}}</td>
            <td>{{currency.ticker}}</td>
        </tr>
        </tbody>
    </table>
</div>