<div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      <span class="sr-only">{{:: 'toggle-navigation' | translate}}</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#" onclick="location.href = authUrl">Stocker</a>
  <a class="navbar-brand" href="#" onclick="location.href = authUrl">Refresh stocks - TODO</a>
</div>

<div class="collapse navbar-collapse" collapse="navCollapsed">
    <ul class="nav navbar-nav navbar-utility">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span></span>
                {{:: 'language' | translate}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" onclick="location.href = consoleBaseUrl + '?locale=en'">English</a></li>
                <li><a href="#" onclick="location.href = consoleBaseUrl + '?locale=cs'">Česky</a></li>
            </ul>
        </li>
    </ul>
</div>