<div class="col-sm-9 col-md-12 col-sm-push-0 col-md-push-0">

    <ol class="breadcrumb">
        <li><a href="#/summary">{{:: 'summary' | translate}}</a></li>
    </ol>

    <kc-tabs-companies></kc-tabs-companies>

</div>

<div class="col-sm-9 col-md-3 col-sm-push-0 col-md-push-0">
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>{{:: 'deposit-total' | translate}}</th>
                <td>{{MyMath.round(currencies.depositTotalInCZK)}} CZK</td>
            </tr>
            <tr>
                <th>{{:: 'payed-for-stocks' | translate}}</th>
                <td>{{MyMath.round(companies.totalPricePayedCZK)}} CZK</td>
            </tr>
            <tr>
                <th>{{:: 'sold-for-stocks' | translate}}</th>
                <td>{{MyMath.round(companies.totalPriceSoldCZK)}} CZK</td>
            </tr>
            <tr>
                <th>{{:: 'invested-to-stocks-sum' | translate}}</th>
                <td>{{MyMath.round(companies.totalPriceInvestedCZK)}} CZK</td>
            </tr>
            <tr>
                <th>{{:: 'value-of-stocks' | translate}}</th>
                <td>{{MyMath.round(companies.currentPriceOfAllStocksInHoldCZK)}} CZK</td>
            </tr>
            <tr>
                <th>{{:: 'dividends-czk' | translate}}</th>
                <td>{{MyMath.round(companies.totalDividendsCZK)}} CZK</td>
            </tr>
            <tr>
                <th>{{:: 'current-total-cash' | translate}}</th>
                <td>{{MyMath.round(currencies.priceInHoldCZK)}} CZK</td>
            </tr>
            <tr>
                <th>{{:: 'total-fees-in-czk' | translate}}</th>
                <td>{{MyMath.round(totalFees)}} CZK</td>
            </tr>
            <tr>
                <th>{{:: 'current-total-value' | translate}}</th>
                <td>{{MyMath.round(companies.currentPriceOfAllStocksInHoldCZK + currencies.priceInHoldCZK)}} CZK</td>
            </tr>
        </tbody>
    </table>


</div>
