<div class="col-sm-9 col-md-3 col-sm-push-0 col-md-push-0">

    <ol class="breadcrumb">
        <li><a href="#/summary">{{:: 'summary' | translate}}</a></li>
    </ol>

    <kc-tabs-companies></kc-tabs-companies>

    <h2></h2>
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>{{:: 'invested-total' | translate}}</th>
                <td>{{MyMath.round(currencies.boughtTotalInCZK)}} CZK</td>
            </tr>
            <tr>
                <th>{{:: 'invested-to-stocks' | translate}}</th>
                <td>{{MyMath.round(companies.totalPricePayedCZK)}} CZK</td>
            </tr>
            <tr>
                <th>{{:: 'value-of-stocks' | translate}}</th>
                <td>{{MyMath.round(companies.currentPriceOfAllStocksInHoldCZK)}} CZK</td>
            </tr>
            <tr>
                <th>{{:: 'current-total-cash' | translate}}</th>
                <td>{{MyMath.round(currencies.priceInHoldCZK)}} CZK</td>
            </tr>
            <tr>
                <th>{{:: 'total-fees-in-czk' | translate}}</th>
                <td>TODO CZK</td>
            </tr>
            <tr>
                <th>{{:: 'current-total-value' | translate}}</th>
                <td>{{MyMath.round(companies.currentPriceOfAllStocksInHoldCZK + currencies.priceInHoldCZK)}} CZK</td>
            </tr>
        </tbody>
    </table>


</div>
