<div class="col-sm-9 col-md-12 col-sm-push-0 col-md-push-0">

    <ol class="breadcrumb">
        <li><a href="#/transactions">{{:: 'transactions' | translate}}</a></li>
    </ol>

    <kc-tabs-companies></kc-tabs-companies>

    <br>
    <br>

    <fieldset class="border-top">
        <legend>
            <span class="text">{{:: 'transactions' | translate}}</span>
        </legend>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>{{:: 'date' | translate}}</th>
                <th>{{:: 'company-ticker' | translate}}</th>
                <th>{{:: 'operation' | translate}}</th>
                <th>{{:: 'stocks-count' | translate}}</th>
                <th>{{:: 'price-per-stock' | translate}}</th>
                <th>{{:: 'price-total' | translate}}</th>
                <th>{{:: 'price-total-czk' | translate}}</th>
                <th>{{:: 'currency-quotation-during-transaction' | translate}}</th>
                <th>{{:: 'fee' | translate}}</th>
                <th>{{:: 'fee-czk' | translate}}</th>
            </tr>
            </thead>
            <tr ng-repeat="transaction in transactions.transactions">
                <td>{{transaction.date}}</td>
                <td>{{transaction.companyTicker}}</td>
                <td style="{{ColorMarker.markFromOperation(transaction.operation)}}">{{:: transaction.operation | translate}}</td>
                <td>{{transaction.stocksCount}}</td>
                <td>{{MyMath.round(transaction.pricePerStock)}} {{transaction.currency}}</td>
                <td style="{{ColorMarker.markFromOperation(transaction.operation)}}">{{MyMath.round(transaction.priceTotal)}} {{transaction.currency}}</td>
                <td style="{{ColorMarker.markFromOperation(transaction.operation)}}">{{MyMath.round(transaction.priceTotalCZK)}} CZK</td>
                <td>{{MyMath.round(transaction.currencyQuotationDuringTransaction)}}</td>
                <td>{{MyMath.round(transaction.fee)}} {{transaction.currency}}</td>
                <td>{{MyMath.round(transaction.feeCZK)}} CZK</td>
            </tr>
        </table>
    </fieldset>

    <br>
    <br>

    <fieldset class="border-top">
        <legend>
            <span class="text">{{:: 'transactions-summary' | translate}}</span>
        </legend>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>{{:: 'year-total' | translate}}</th>
                <th>{{:: 'month-of-year' | translate}}</th>
                <th>{{:: 'purchases-count' | translate}}</th>
                <th>{{:: 'disposals-count' | translate}}</th>
                <th>{{:: 'purchases-total-czk' | translate}}</th>
                <th>{{:: 'disposals-total-czk' | translate}}</th>
            </tr>
            </thead>
            <tr ng-repeat="summary in transactions.transactionSummaries">
                <td data-ng-show="summary.yearSum"><b>{{summary.year}} - {{:: 'total' | translate}}</b></td>
                <td data-ng-hide="summary.yearSum"></td>
                <td data-ng-show="summary.yearSum"></td>
                <td data-ng-hide="summary.yearSum">{{summary.yearAndMonth}}</td>
                <td style="{{ColorMarker.markFromTransactionSummary(summary)}}">{{summary.purchasesCount}}</td>
                <td style="{{ColorMarker.markFromTransactionSummary(summary)}}">{{summary.disposalsCount}}</td>
                <td style="{{ColorMarker.markFromTransactionSummary(summary)}}">{{MyMath.round(summary.totalPurchasesCZK)}} CZK</td>
                <td style="{{ColorMarker.markFromTransactionSummary(summary)}}">{{MyMath.round(summary.totalDisposalsCZK)}} CZK</td>
            </tr>
            <tr>
                <td><b>{{:: 'total' | translate}}</b></td>
                <td></td>
                <td style="font-weight: bold; color: green">{{transactions.totalSummary.purchasesCount}}</td>
                <td style="font-weight: bold; color: red">{{transactions.totalSummary.disposalsCount}}</td>
                <td style="font-weight: bold; color: green">{{MyMath.round(transactions.totalSummary.totalPurchasesCZK)}} CZK</td>
                <td style="font-weight: bold; color: red">{{MyMath.round(transactions.totalSummary.totalDisposalsCZK)}} CZK</td>
            </tr>
        </table>
    </fieldset>

</div>

<!--<kc-menu></kc-menu>-->