<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>app</servlet-name>
        <servlet-class>org.mposolda.AppServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>session</servlet-name>
        <servlet-class>org.mposolda.SessionNoCacheServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>javascript</servlet-name>
        <servlet-class>org.mposolda.JavascriptHistoryTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>app</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>session</servlet-name>
        <url-pattern>/s/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>javascript</servlet-name>
        <url-pattern>/j/*</url-pattern>
    </servlet-mapping>

</web-app>
