<div>

    <ul class="nav nav-tabs" >
        <li ng-class="{active: path[0] == 'companies'}"><a href="#/companies">{{:: 'companies' | translate}}</a></li>
        <li ng-class="{active: path[0] == 'currencies'}"><a href="#/currencies">{{:: 'currencies' | translate}}</a></li>
        <li ng-class="{active: path[0] == 'summary'}"><a href="#/summary">{{:: 'summary' | translate}}</a></li>
        <li ng-class="{active: path[0] == 'transactions'}"><a href="#/transactions">{{:: 'transactions' | translate}}</a></li>
    </ul>
</div>
